# SPDX-License-Identifier: GPL-2.0-only
# Digest Lists Integrity Module (DIGLIM)
#
config DIGLIM
	bool "Digest Lists Integrity Module (DIGLIM)"
	select SECURITYFS
	select CRYPTO
	select CRYPTO_HASH_INFO
	help
	  DIGLIM provides reference values for file content and metadata,
	  that can be used for measurement and appraisal with IMA.

config DIGLIM_DIGEST_LISTS_DIR
	string "Path of the directory containing digest lists"
	depends on DIGLIM
	default "/etc/digest_lists"
	help
	  This option defines the path of the directory containing digest lists.

config DIGLIM_UPLOADER_PATH
	string "Path of the user space digest list uploader"
	depends on DIGLIM
	default "/usr/libexec/diglim/upload_digest_lists"
	help
	  This option defines the path of the user space digest list uploader.
