# SPDX-License-Identifier: GPL-2.0
config SECURITY_DIGEST_CACHE
	bool "Digest_cache LSM"
	select TLV_PARSER
	default n
	help
	  This option enables an LSM maintaining a cache of digests
	  (e.g. of file content or metadata).

	  This LSM can support other kernel components in making access
	  control decisions.

config DIGEST_LIST_DEFAULT_PATH
	string
	default "/etc/digest_lists"
	help
	  Default directory where digest_cache LSM expects to find digest lists.

	  It can be changed at run-time, by writing the new path to the
	  securityfs interface. Digest caches created with the old path are
	  not affected by the change.

config DIGEST_CACHE_HTABLE_DEPTH
	int
	default 30
	help
	  Desired average depth of the collision list in the digest cache
	  hash tables.

	  A smaller number will increase the amount of hash table slots, and
	  make the search faster. A bigger number will decrease the number of
	  hash table slots, but make the search slower.
