# Copyright (c) 2021 Petr Vorel <pvorel@suse.cz>
name: "distros"
on:
  push:
    tags:
      - '**'

jobs:
  once:
    name: Create GitHub release
    runs-on: ubuntu-latest
    outputs:
      upload_url: ${{ steps.create_release.outputs.upload_url }}
    steps:
      - name: Generate tag name
        id: var
        run: echo ::set-output name=tag::$(echo ${GITHUB_REF##refs/tags/})

      - name: Delete a release
        uses: cb80/delrel@latest
        with:
          tag: ${{ steps.var.outputs.tag }}
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Create a release
        id: create_release
        uses: ncipollo/release-action@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          allowUpdates: true

  job:
    runs-on: ubuntu-latest
    needs: once

    strategy:
      fail-fast: false
      matrix:
        include:
          - container: "opensuse/tumbleweed"
            env:
              CC: gcc

    container:
      image: ${{ matrix.container }}
      env: ${{ matrix.env }}

    steps:
    - name: Show OS
      run: cat /etc/os-release

    - name: Install tar
      run: zypper --non-interactive install --force-resolution --no-recommends tar gzip findutils
      if: startsWith(matrix.container, 'opensuse')

    - name: Git checkout
      uses: actions/checkout@v2

    - name: Install additional packages
      run: |
        INSTALL=${{ matrix.container }}
        INSTALL="${INSTALL%%:*}"
        INSTALL="${INSTALL%%/*}"
        if [ "$VARIANT" ]; then ARCH="$ARCH" ./ci/$INSTALL.$VARIANT.sh; fi
        ARCH="$ARCH" CC="$CC" ./ci/$INSTALL.sh

    - name: Compile
      run: |
        if [ "$DEVTOOLSET" = "yes" ]; then
                source /opt/rh/devtoolset-10/enable
        fi
        if [ "$ARCH" = "i386" ]; then
                CROSS_COMPILE_OPT="CROSS_COMPILE=i686-linux-gnu-"
        fi
        $CMDPREFIX make ARCH=um $CROSS_COMPILE_OPT -j$(nproc)

    - name: Upload kernel binary
      id: upload-kernel-binary
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ needs.once.outputs.upload_url }}
        asset_path: linux
        asset_name: linux-${{ matrix.container }}${{ matrix.container.env.ARCH_SUFFIX }}
        asset_content_type: application/x-binary

    - name: Upload signing key
      id: upload-signing-key
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ needs.once.outputs.upload_url }}
        asset_path: certs/signing_key.pem
        asset_name: signing_key.pem-${{ matrix.container }}${{ matrix.container.env.ARCH_SUFFIX }}
        asset_content_type: application/x-pem-file
